.description
  &__container
    display: grid
    grid-template-columns: repeat(2, 1fr)
    direction: rtl
    @media screen and(max-width: 1024px)
      grid-template-columns: 1fr
    @extend %container
  &__wrapper
    display: flex
    flex-direction: column
    align-items: center
  &__subtitle
    @include text(500, 18px, 22px)
    margin: 23px 0 7px
  &__desc-top
    @include text(400, 14px, 21px)
  &__link
    @include text(500, 14px, 21px)
    color: $linkColor
    text-align: center
    margin-top: 7px
  &__img
    display: block
    position: relative
  &__img::before
    content: ""
    position: absolute
    background: url(./../images/heart.svg)
    top: 0px
    left: 0px
    width: 31px
    height: 27px
  &__content
    margin-top: 25px
    direction: ltr;
    @media screen and(min-width: 1020px)
      max-width: 584px
  &__desc
    @include text(500, 18px, 26px)
    margin-bottom: 14px
  &__desc:nth-child(2)
    margin-top: 40px  
  &__text
    @include text(400, 16px, 24px)
  &__excerpt
    @include text(500, 16px, 26px)
    color: $linkColor
    margin-right: 7px
  &__link
    display: flex
    align-items: center
    align-content: center
    margin-bottom: 40px
 